.App{
  margin: 10px;
  position: relative;
}

.image{
  border-radius: 10px;
  transition: opacity 0.3s ease;
}
.description{
  transition: transform 1s ease, opacity 1s ease;
}
.description{
  opacity: 0;
  position: absolute;
  left: 20px;
  bottom: 10px;
  padding-top: 5px;
}




.image:hover{
  opacity: 0.2;
}
.image:hover + .description{
  opacity: 1;
  transform: translate(0px,-10px);
}

.rating{
  text-align:left;
  font-style:normal;
  font-size: large;
  display:inline-block;
  position: relative;
  unicode-bidi: bidi-override;
}


.rating::before{
  display:block;
  content: '★★★★★';
  color: #000000;
}
.rating::after{
  white-space:nowrap;
  position:absolute;
  top:0;
  left:0;
  content: '★★★★★';
  width: 0;
  color: #ff8c00;
  overflow:hidden;
  height:100%;

}



[data-cell^="0.1"]::after,[data-cell^=".1"]::after{width:2%}
[data-cell^="0.2"]::after,[data-cell^=".2"]::after{width:4%}
[data-cell^="0.3"]::after,[data-cell^=".3"]::after{width:6%}
[data-cell^="0.4"]::after,[data-cell^=".4"]::after{width:8%}
[data-cell^="0.5"]::after,[data-cell^=".5"]::after{width:10%}
[data-cell^="0.6"]::after,[data-cell^=".6"]::after{width:12%}
[data-cell^="0.7"]::after,[data-cell^=".7"]::after{width:14%}
[data-cell^="0.8"]::after,[data-cell^=".8"]::after{width:16%}
[data-cell^="0.9"]::after,[data-cell^=".9"]::after{width:18%}
[data-cell^="1"]::after{width:20%}
[data-cell^="1.1"]::after{width:22%}
[data-cell^="1.2"]::after{width:24%}
[data-cell^="1.3"]::after{width:26%}
[data-cell^="1.4"]::after{width:28%}
[data-cell^="1.5"]::after{width:30%}
[data-cell^="1.6"]::after{width:32%}
[data-cell^="1.7"]::after{width:34%}
[data-cell^="1.8"]::after{width:36%}
[data-cell^="1.9"]::after{width:38%}
[data-cell^="2"]::after{width:40%}
[data-cell^="2.1"]::after{width:42%}
[data-cell^="2.2"]::after{width:44%}
[data-cell^="2.3"]::after{width:46%}
[data-cell^="2.4"]::after{width:48%}
[data-cell^="2.5"]::after{width:50%}
[data-cell^="2.6"]::after{width:52%}
[data-cell^="2.7"]::after{width:54%}
[data-cell^="2.8"]::after{width:56%}
[data-cell^="2.9"]::after{width:58%}
[data-cell^="3"]::after{width:60%}
[data-cell^="3.1"]::after{width:62%}
[data-cell^="3.2"]::after{width:64%}
[data-cell^="3.3"]::after{width:66%}
[data-cell^="3.4"]::after{width:68%}
[data-cell^="3.5"]::after{width:70%}
[data-cell^="3.6"]::after{width:72%}
[data-cell^="3.7"]::after{width:74%}
[data-cell^="3.8"]::after{width:76%}
[data-cell^="3.9"]::after{width:78%}
[data-cell^="4"]::after{width:80%}
[data-cell^="4.1"]::after{width:82%}
[data-cell^="4.2"]::after{width:84%}
[data-cell^="4.3"]::after{width:86%}
[data-cell^="4.4"]::after{width:88%}
[data-cell^="4.5"]::after{width:90%}
[data-cell^="4.6"]::after{width:92%}
[data-cell^="4.7"]::after{width:94%}
[data-cell^="4.8"]::after{width:96%}
[data-cell^="4.9"]::after{width:98%}
[data-cell^="5"]::after{width:100%}